
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-style: normal;
    font-size: 45px;
    font-weight: 800;
    color: #181818;
    line-height: normal;
}
nav > ul{
    display: flex;
   align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

.primary-btn{
    background-color: #FD6E0A;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.nav-bar-style{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 0;
    margin-bottom: 0;
}
.banner{
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-picture{
    width: 500px;
}
.kuniri{
    background-color: #FFF8F3;
    margin: 50px 200px;
    padding: 150px;
}

.diving{
    border: #181818 solid 3px;
    background-color: #FFFFFF;
    padding: 20px;
}

.wid{
    background-color: #FFFFFF;
    margin: 50px 200px;
    padding: 150px;
}

.wido-container{
    display: flex;
    padding: 30px;
    background-color: #FD6E0A;
}

.eduandexperiencecontainer{
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
}

.download-cv-btn{
    text-align: center;
    margin-top: 50px;
}

.letscontainer{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    padding-top: 100px;
    padding-bottom: 80px;
    margin-top: 50px;
}